section
  section
    h2 O que esse minicurso é?
    ul
      li.fragment Introdução
      li.fragment Hands-on
  section
    h2 O que esse minicurso não é?
    ul
      li.fragment Um tutorial completo
      li.fragment Ministrado por especialistas em Git

