section
  section
    p
      span O que é
      strong  git
      span  então?
  section
    p.
      Quais os benefícios?
    ul
      li.fragment Trabalho em equipe
      li.fragment Controle de versão
      li.fragment Portabilidade
