head
  meta(charset="UTF-8")
  title Minicurso de Git e GitLab
  meta(name="description" content="Minicurso introdutório sobre Git e GitLab ministrado pelo CADES.")
  meta(name="author" content="CADES")
  meta(property="og:type" content="website")
  meta(property="og:image" content="img/logo.jpg")
  meta(property="og:description" content="Minicurso introdutório sobre Git e GitLab ministrado pelo CADES.")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", type="text/css", href="css/main.css")
  link(rel="stylesheet", type="text/css", href="css/theme.css")
